# Table of Contents
 <p>

In [1]:
import pandas as pd
import numpy as np
import numpy as np
from sklearn.decomposition import PCA
from sklearn import preprocessing
from IPython.display import display, HTML
from sympy import init_printing, Matrix, symbols, sqrt
init_printing(use_latex = 'mathjax')

In [2]:
data = pd.read_csv('places.csv')
data = data[[
            'location',
            'climate_log10',
            'housing_log10',
            'health_log10',
            'crime_log10',
            'transportation_log10',
            'education_log10',
            'arts_log10',
            'recreation_log10',
            'economy_log10'
        ]]

data = data.rename(columns={
            'climate_log10': '$x_1$',
            'housing_log10': '$x_2$',
            'health_log10': '$x_3$',
            'crime_log10': '$x_4$',
            'transportation_log10': '$x_5$',
            'education_log10': '$x_6$',
            'arts_log10': '$x_7$',
            'recreation_log10': '$x_8$',
            'economy_log10': '$x_9$'
    })

del data['location']
data.head()

,$x_1$,$x_2$,$x_3$,$x_4$,$x_5$,$x_6$,$x_7$,$x_8$,$x_9$
0,2.716838,3.792392,2.374748,2.965202,3.605413,3.440437,2.998259,3.147676,3.882695
1,2.759668,3.910518,3.219060,2.947434,3.688687,3.387034,3.745387,3.420286,3.638489
2,2.670246,3.865637,2.790988,2.986772,3.403292,3.408240,2.374748,2.933993,3.720159
3,2.677607,3.898067,3.155640,2.785330,3.837778,3.531351,3.667920,3.208710,3.768194
4,2.818885,3.923917,3.267875,3.171141,3.816771,3.480869,3.652826,3.416973,3.757927

In [4]:
pca = PCA(n_components=9, whiten=False)
pca.fit(data)

PCA(copy=True, n_components=9, whiten=False)

In [8]:
pca.get_covariance()

array([[ 0.01285316,  0.00325782,  0.00546261,  0.00436082,  0.00038455,
         0.00044016,  0.0106561 ,  0.00256544, -0.00096324],
       [ 0.00325782,  0.01108235,  0.01455184,  0.00247551,  0.00526254,
         0.00106633,  0.02913747,  0.00909924,  0.00263779],
       [ 0.00546261,  0.01455184,  0.10241565,  0.00992469,  0.02108917,
         0.00745508,  0.11812423,  0.01525293,  0.00145895],
       [ 0.00436082,  0.00247551,  0.00992469,  0.02852374,  0.00727675,
         0.00046989,  0.03184947,  0.00925646,  0.00393443],
       [ 0.00038455,  0.00526254,  0.02108917,  0.00727675,  0.0247534 ,
         0.00245441,  0.04689773,  0.01153233,  0.00083182],
       [ 0.00044016,  0.00106633,  0.00745508,  0.00046989,  0.00245441,
         0.00251232,  0.00949147,  0.00087458,  0.00054479],
       [ 0.0106561 ,  0.02913747,  0.11812423,  0.03184947,  0.04689773,
         0.00949147,  0.29626989,  0.0507054 ,  0.00618716],
       [ 0.00256544,  0.00909924,  0.01525293,  0.00925646,  0.01153233,
         0.00087458,  0.0507054 ,  0.03520051,  0.00278393],
       [-0.00096324,  0.00263779,  0.00145895,  0.00393443,  0.00083182,
         0.00054479,  0.00618716,  0.00278393,  0.00711485]])

In [5]:
eigenDf = pd.DataFrame({
        'Component': ["PC%s" %(i) for i in range(1,10)],
        'Eigenvalue': pca.explained_variance_,
        'Proportion (%)': pca.explained_variance_ratio_.round(4) * 100
    })

eigenDf['Cumulative (%)'] = 0
cu = 0.0
for i in eigenDf.index:
    cu += eigenDf.iloc[i]['Proportion (%)']
    eigenDf.loc[i, 'Cumulative (%)'] = cu
display(eigenDf)

  Component  Eigenvalue  Proportion (%)  Cumulative (%)
0       PC1    0.376315           72.27           72.27
1       PC2    0.050897            9.77           82.04
2       PC3    0.027835            5.35           87.39
3       PC4    0.022897            4.40           91.79
4       PC5    0.016720            3.21           95.00
5       PC6    0.011916            2.29           97.29
6       PC7    0.008431            1.62           98.91
7       PC8    0.003922            0.75           99.66
8       PC9    0.001792            0.34          100.00

In [11]:
pca.components_

array([[ 0.03507288,  0.09335159,  0.40776448,  0.10044536,  0.15009714,
         0.03215319,  0.87434057,  0.15899622,  0.01949418],
       [ 0.0088782 ,  0.00923057, -0.85853187,  0.22042372,  0.05920111,
        -0.06058858,  0.30380632,  0.33399255,  0.0561011 ],
       [-0.14087477, -0.12884967, -0.27605769, -0.5926882 , -0.22089816,
        -0.0081447 ,  0.36328732, -0.58362605, -0.12085337],
       [ 0.15274476, -0.17838233, -0.03516139,  0.72366303, -0.12620531,
        -0.00519693,  0.08111571, -0.62822609,  0.05216997],
       [-0.39751159, -0.1753133 , -0.05032469,  0.01345714,  0.86996951,
         0.04779772, -0.05506994, -0.21328989, -0.02965242],
       [ 0.83129501,  0.20905725, -0.08967085, -0.16401885,  0.37244964,
         0.02362804, -0.02812147, -0.14179906, -0.26481279],
       [-0.0559096 ,  0.6958923 , -0.06245284, -0.05553037,  0.0724604 ,
         0.05738567, -0.0232698 , -0.23451524,  0.66448592],
       [-0.31490125,  0.61361583, -0.0210358 ,  0.1823479 , -0.05714199,
        -0.20447312, -0.01673991, -0.08353911, -0.66203179],
       [-0.06448925,  0.08687702, -0.06550333,  0.05421223, -0.07183942,
         0.97327107, -0.00525656,  0.01749472, -0.16826376]])

In [17]:
tranformdata = pca.transform(data)

In [27]:
tranformdataDf = pd.DataFrame(tranformdata)

In [29]:
tranformdataDf = tranformdataDf.rename(columns={
            0: '$tx_1$',
            1: '$tx_2$',
            2: '$tx_3$',
            3: '$tx_4$',
            4: '$tx_5$',
            5: '$tx_6$',
            6: '$tx_7$',
            7: '$tx_8$',
            8: '$tx_9$'
    })

In [31]:
tranformdataDf.head()

,$tx_1$,$tx_2$,$tx_3$,$tx_4$,$tx_5$,$tx_6$,$tx_7$,$tx_8$,$tx_9$
0,-0.436677,0.420163,0.118121,0.089959,0.080968,0.005028,0.077777,-0.142870,-0.002988
1,0.620958,0.005346,-0.001808,-0.100745,-0.021650,0.027288,-0.134777,0.027679,-0.067781
2,-0.873256,-0.212104,-0.049693,0.171612,-0.026654,-0.044418,0.044284,0.065949,-0.009643
3,0.502948,-0.063621,0.170495,-0.112303,0.196313,0.045515,0.030802,-0.087271,0.036426
4,0.609775,-0.007233,-0.233127,0.050234,0.071192,0.059613,-0.047273,-0.046733,0.000952

In [32]:
newdata = data.copy()

In [36]:
newdata['$tx_1$'] = tranformdataDf['$tx_1$']
newdata['$tx_2$'] = tranformdataDf['$tx_2$']
newdata['$tx_3$'] = tranformdataDf['$tx_3$']

In [37]:
newdata.head()

,$x_1$,$x_2$,$x_3$,$x_4$,$x_5$,$x_6$,$x_7$,$x_8$,$x_9$,$tx_1$,$tx_2$,$tx_3$
0,2.716838,3.792392,2.374748,2.965202,3.605413,3.440437,2.998259,3.147676,3.882695,-0.436677,0.420163,0.118121
1,2.759668,3.910518,3.219060,2.947434,3.688687,3.387034,3.745387,3.420286,3.638489,0.620958,0.005346,-0.001808
2,2.670246,3.865637,2.790988,2.986772,3.403292,3.408240,2.374748,2.933993,3.720159,-0.873256,-0.212104,-0.049693
3,2.677607,3.898067,3.155640,2.785330,3.837778,3.531351,3.667920,3.208710,3.768194,0.502948,-0.063621,0.170495
4,2.818885,3.923917,3.267875,3.171141,3.816771,3.480869,3.652826,3.416973,3.757927,0.609775,-0.007233,-0.233127

In [39]:
newdatacorr = newdata.corr()

In [41]:
newdatacorr[['$tx_1$', '$tx_2$', '$tx_3$']]

              $tx_1$        $tx_2$        $tx_3$
$x_1$   1.897764e-01  1.766713e-02 -2.073107e-01
$x_2$   5.439783e-01  1.978148e-02 -2.042024e-01
$x_3$   7.816315e-01 -6.052287e-01 -1.439164e-01
$x_4$   3.648400e-01  2.944431e-01 -5.854860e-01
$x_5$   5.852356e-01  8.489042e-02 -2.342438e-01
$x_6$   3.935162e-01 -2.727092e-01 -2.711012e-02
$x_7$   9.854003e-01  1.259213e-01  1.113525e-01
$x_8$   5.198621e-01  4.016138e-01 -5.189836e-01
$x_9$   1.417745e-01  1.500496e-01 -2.390394e-01
$tx_1$  1.000000e+00 -2.260392e-14 -4.698508e-17
$tx_2$ -2.260392e-14  1.000000e+00  1.461097e-16
$tx_3$ -4.698508e-17  1.461097e-16  1.000000e+00